html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {

    text-align: center;
    background-color: rgba(105, 105, 105, 0.904);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    margin-top: 3%;
    font-size: 2.3rem;
    font-weight: 300;

}

h2 {
    font-size: 3rem;
    font-family: 'IBM Plex Mono', monospace;
}

form {
    position: relative;
    display: flex;
    width: 25rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.585);
    padding: 0rem .5rem;
    margin: 0.5% auto;
    border-radius: 4% 4% 9% 9%;
    border: solid 2px rgba(29, 27, 27, 0.281);




}

p {
    font-size: .8rem;
    border: solid .25px rgb(255, 255, 255);
    padding: .25rem;
    margin-right: .15rem;

}

.signature {
    height: 3rem;
}

.signature-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    margin: 1% auto 1%;
    left: 43.5%;
}

.input-design {
    background-image: repeating-radial-gradient(rgb(17, 0, 248), rgba(255, 255, 255, 0.7));
    border-radius: 50% 5% 25%;
    text-align: center;
    height: 4rem;
    border: solid 1px rgb(255, 255, 255);

}

.input-design1 {
    background-image: repeating-radial-gradient(rgb(248, 0, 0), rgba(255, 255, 255, 0.7));
    border-radius: 25% 5% 50%;
    text-align: center;
    height: 4rem;
    border: solid 1px rgb(255, 255, 255);

}

.input-design2 {
    background-image: repeating-radial-gradient(rgb(136, 116, 0), rgba(255, 255, 255, 0));
    border-radius: 50% 5% 25%;
    text-align: center;
    height: 4rem;
    border: solid 1px rgb(255, 255, 255);

}

.input-design3 {
    background-image: repeating-radial-gradient(rgb(57, 128, 0), rgba(255, 255, 255, 0.082));
    border-radius: 25% 5% 50%;
    text-align: center;
    height: 4rem;
    border: solid 1px rgb(255, 255, 255);

}

.first {
    align-self: flex-start;
    padding: 1rem;

}

.second {
    align-self: flex-end;
    padding: 1rem 2rem;


}

.third {
    align-self: flex-start;
    padding: 1rem;


}

.fourth {
    align-self: flex-end;
    padding: 1rem 2rem;

}

.submit {
    align-self: flex-start;
    display: flex;
    align-content: space-between;
    padding: 1rem 1rem 2rem;
    ;
    margin-left: 12%
}


#submit {
    background-image: repeating-radial-gradient(rgb(108, 0, 248), rgba(255, 255, 255, 0.7));
    border-radius: 50%;
    text-align: center;
    height: 2.5rem;
    border: solid 1px rgb(255, 255, 255);
    color: white;
    width: 8rem;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;


}

.text {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.tip-amounts {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: .75;
}

.tip-buttons {
    background-image: repeating-radial-gradient(rgba(0, 0, 0, 0.541), rgba(255, 255, 255, 0.178));

}

.tip-hover {
    background-image: repeating-radial-gradient(rgb(108, 0, 248), rgba(255, 255, 255, 0.7));
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition-duration: .3s;
}

.tip-click {
    background-image: repeating-radial-gradient(rgb(57, 128, 0), rgba(255, 255, 255, 0.082));
    border-radius: 25%;
}

.reset {
    background-image: repeating-radial-gradient(rgb(0, 190, 248), rgba(255, 255, 255, 0.7));
    border-radius: 50%;
    text-align: center;
    height: 2.5rem;
    border: solid 1px rgb(255, 255, 255);
    color: white;
    width: 8rem;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.527);
    transform: scale(1.1, 1.1);
    transition-duration: .3s;

}

input:focus {
    outline: none;
}

form:hover {
    background-color: rgba(0, 0, 0, 0.523);

}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(166, 130, 177, 0.479);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
    }
}

.pulse {
    animation: shadow-pulse 1s infinite;
}

.error-message {
    border: none;
    color: red;
    padding: 1rem;
    visibility: hidden;

}

.tip-message {
    border: none;
    color: green;
    padding: 1rem;
    visibility: hidden;
}

.instructions {
    width: 85%;
    margin: 1rem auto;
    border-bottom: solid .5px white;
    border-right: none;
    border-left: none;
    cursor: default;

}